*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


 main{
    padding-left: 20px;
 }


body {
    background-color: #ffd4c2;
}
ul{
    list-style: none;
}
/* タイトル */
.title {
    font-family: "Nico Moji";

    text-align: center;
}

.title_area {
    max-width: 100%;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    background-color: #FFC7AF;
}

.title_img {
    width: 100px;
    height: 120px;
    text-align: center;

}

/* タイトル */


/* 文字 */
.top{
    padding-bottom: 20px;
}

.explantion {
    font-family: "Sawarabi Gothic";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}



.Howto_ol{
    font-weight: bold;
    padding-left: 45%;
}

/* 文字 */


/* 自給 */
.money{
    display: flex;
    margin-bottom: 20px;
}
/* 自給 */



/* 時間 */

#register{
    width:100px;
}
.time{
    display: flex;
    margin-bottom: 20px;
}

/* 時間 */

/* カレンダー */
table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
    width: 100%;
    height: 400px;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}
.calender{
    text-align: center;
}
.calender_area{
    margin-bottom: 20px;
}

.time_btn{
    width: 20px;
    height: 20px;
}
/* カレンダー */


/* 計算 */
.symbol{
    margin-top: 25px;
}

.calculation{
    display: flex;
    margin: 50px;
    
    
}
/* 計算 */


#settei{
    width: 100px;
    height: 100px;
}

.calculate_btn{

    width: 200px;
}

/* jquery */
.logo_fadein{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}
.logo_fadein p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}



/* button */

button.btn_color {
    color: #fff;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
  }
  button.btn_color:hover {
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
  }
  button.btn_shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }


